# Dependencias
node_modules/
*.lock
package-lock.json
yarn.lock

# Variables de entorno
.env
.env.local
.env.*.local

# Base de datos
*.db
*.sqlite
*.sqlite3

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compilados
dist/
build/
.next/
out/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Archivos temporales
temp/
tmp/
.cache/

# Ejecutables empaquetados
*.exe
setup.exe

# Build files
pkg-dir/
